server:
  port: 0
spring:
  application:
    name: replay
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://accounts.google.com

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
#logging:
#  level:
#    root: trace